body{

    font-family: 'Trajan Pro', sans-serif;
}
#back{

    background-image: url("Image/home-169540.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%
}
.logo{
    background:url("Image/5f7347f18c5793f7a0ac.jpg");
    background-position: center;
    width: 100%;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 70px;
    height: 135px;
    position: static;
    background-color: rgba(117, 117, 117, 0.33);

}
.heading{
	    padding-top: 150px;
    text-align: center;
    font-size: 50px;
    color: #fff;
    font-family: serif;
    text-transform: capitalize;
  font-family: 'Trajan Pro', sans-serif;
}
.content{

	text-align: center;
    color: #fff;
    padding-top: 50px;
    font-size: 25px;
    text-transform: capitalize;
}
@media only screen and (min-device-width: 360px) and (max-device-width: 640px){ 
    #back{

    background-image: url("Image/home-169540.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    height: 100%;
    width: 100%
}
    .heading{
           padding-top: 50px;
          text-align: center;
            font-size: 30px;
            color: #fff;
            font-family: serif;
            text-transform: capitalize;
            font-family: 'Trajan Pro', sans-serif;
    }
    .content{

    text-align: center;
    color: #fff;
   
    font-size: 20px;
    text-transform: capitalize;
    }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px){ 
    .heading{
           padding-top: 30px;
          text-align: center;
            font-size: 20px;
            color: #fff;
            font-family: serif;
            text-transform: capitalize;
            font-family: 'Trajan Pro', sans-serif;
    }
    .content{

    text-align: center;
    color: #fff;
   
    font-size: 20px;
    text-transform: capitalize;
    }
 }
 @media only screen and (min-device-width: 375px) and (max-device-width: 667px){ 
    .heading{
           padding-top: 120px;
          text-align: center;
            font-size: 30px;
            color: #fff;
            font-family: serif;
            text-transform: capitalize;
            font-family: 'Trajan Pro', sans-serif;
    }
    .content{

    text-align: center;
    color: #fff;
   
    font-size: 25px;
    text-transform: capitalize;
    }
}


 @media only screen and (min-device-width: 360px) and (max-device-width: 640px){ 
    .heading{
           padding-top: 80px;
          text-align: center;
            font-size: 25px;
            color: #fff;
            font-family: serif;
            text-transform: capitalize;
            font-family: 'Trajan Pro', sans-serif;
    }
    .content{

    text-align: center;
    color: #fff;
   
    font-size: 25px;
    text-transform: capitalize;
    }
}
@media only screen and (min-device-width: 414px) and (max-device-width: 736px){ 
    .heading{
           padding-top: 120px;
          text-align: center;
            font-size: 25px;
            color: #fff;
            font-family: serif;
            text-transform: capitalize;
            font-family: 'Trajan Pro', sans-serif;
    }
    .content{

    text-align: center;
    color: #fff;
   
    font-size: 25px;
    text-transform: capitalize;
    }
}
@media only screen and (min-device-width: 950px) {
    .heading{
           padding-top: 120px;
    
            font-size: 52px;
            
    }
    .content{

    font-size: 40px;
    
    }
}
@media only screen and (min-device-width: 768px) {
    .heading{
           padding-top: 120px;
    
            font-size: 52px;
            
    }
    .content{

    font-size: 40px;
    
    }
}

